<h1 class="text-center">All articles</h1>

<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Actions</th>
	</tr>
	<% @articles.each do |article| %>
		<tr>
			<td><%= link_to article.title, article_path(article) %></td>
			<td><%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are You Sure?' } %></td>
		</tr>
	<% end %>
</table>
