/* $navbar-default-bg: #383838; */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";

footer {
  background-color: #009688;
  color: #fff;
  width: 100%;
  height: 140px;
  margin-top: 10px;
}

footer p {
  padding-top: 60px;
}

hr {
  border: 1px solid #009688;
}
