/* $navbar-default-bg: #383838; */

@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  margin-top: 10px;
}

.jumbotron {
  background-image: url(http://adadevelopersacademy.org/images/heroes/home.jpg);
  background-size: cover;
  color: #fff;
}

.flash-message {
  // opacity: 0.8;
}
